.manageView {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: @purple-dark;
    color: @darker-black;
    .daysCtn,
    .exerciseCtn {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: transform @duration-faster @ease-out-standard;
    }
    // ~> IS EXERCISE
    &.isExercise {
        .daysCtn {
            transform: translateX(-100%);
        }
        .exerciseCtn {
            transform: translateX(0%);
        }
    }
    // ~> IS DAYS
    &.isDays {
        .daysCtn {
            transform: translateX(0%);
        }
        .exerciseCtn {
            transform: translateX(100%);
        }
    }
}