.editDayCard {
    color: @main-text;
    margin: 0 @unit-3 @unit-10 @unit-3;

    .title {
        .font--title;
        margin-bottom: @unit-2;
        color: @darker-black;
    }
}

.exercisesCtn {
    background-color: @purple;
    color: white;
    .box-shadow-main;
}

.exercise {
    display: flex;
    .font--label; 
    padding: @unit-4;
    border-bottom: 1px solid @black-10-alpha;

    .exerciseName {
        font-weight: 900;
        margin-right: @unit-2;
    }
}