.editDayCard {
    color: @main-text;
    margin: 0 @unit-3 @unit-10 @unit-3;

    .title {
        .font--title;
        margin-bottom: @unit-2;
        color: @darker-black;
    }
}

.exercisesCtn {
    background-color: @purple;
    color: white;
    .box-shadow-main;
}