.exercise {
    color: @main-text;
    margin: @unit-5 @unit-3
}

.name {
    .font--title;
    margin-bottom: @unit-2;
}

.cardCtn {
    
}

.card {
    height: @unit-15;
    min-height: 50px;
    width: 100%;
    background-color: @white;
    display: flex;
    align-items: center;
    .box-shadow-main;
}

.cardDetails {
    .font--label;
    padding: 0 @unit-4;
    flex-grow: 1;
}

.cardSets {
    margin-right: @unit-4;
}

.cardGoal {
    font-weight: 900;
}


.button {
    width: 19.6551724%;
    height: 100%;
    box-sizing: border-box;
}

.buttonLogs {
    .button;
    background-color: @main-fill;
}

.buttonStart {
    .button;
    background-color: @accent-reversed-fill;
}