.editExerciseCard {
    .wrapper {
        display: flex;
        .font--label; 
        padding: @unit-4;
        border-bottom: 1px solid @black-10-alpha;
        background-color: @purple;
        color: white;
    }

    .name {
        font-weight: 900;
        margin-right: @unit-2;
    }
    position: relative;
    transition: 200ms ease-out;
    transition-property: transform, box-shadow;
    // IS DRAGGING
    &.isDragging {
        transform: scale(1.02);
        .box-shadow-main;
        z-index: 2;
    }
}