// Brand
@purple: #8951FF;
@green: #25EC81;

// Greyscale
@black: #272727;
@grey-60: #B3B3B3;
@grey-30: #EBEBEB;
@grey-20: #F4F4F4;
@grey-20-alpha: rgba(0,0,0,0.1);
@grey-10: #F9F9F9;
@white: #FFFFFF;

// Semantic
@main-text: @black;
@main-text-lighter: @grey-60;
@main-fill: @grey-20;
@main-fill-alpha: @grey-20-alpha;
@main-fill-darker: @grey-30;
@main-fill-lighter: @grey-10;

@accent-text: @purple;
@accent-stroke: @purple;
@accent-reversed-text: @white;
@accent-reversed-fill: @purple;

@completed-text: @black;
@completed-fill: @green;